<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="" method="post">
            <fieldset style="width: fit-content;">
            {% csrf_token %}
            <label for="to">topic_name: </label>
            <input type="text" name="to" id="to"><br><br>
            <label for="name">name: </label>
            <input type="text" name="name" id="name"><br><br>
            <label for="url">url: </label>
            <input type="url" name="url" id="url"><br><br>
            <input type="submit" value="submit">
            </fieldset>
        </form>
    </center>
</body>
</html>